

<section class = "header">
  <h1 class = "title is-family-code is-3">To Do List </h1>
</section>
<div class = "container">
  <div class = "add-new">
    <form #frm="ngForm" (ngSubmit)="onFormSubmit(frm)">

      <div class = "field is-grouped" style="margin: 0">
       <p class = "control is-expanded">
         <input ngModel #textField="ngModel" required minlength="2" name="text" class="input" placeholder="Start writing a new task">
       </p>
        <p class = "control">
          <button class="button">
            ADD
          </button>
        </p>
     </div>
      <div *ngIf="frm?.touched && frm?.invalid && showValidationErrors">
        <p class="help is-danger" *ngIf="frm.controls['text'].errors?.['required']">You need to type something in</p>
        <p class="help is-danger" *ngIf="frm.controls['text'].errors?.['minlength']">Text must be at least 2 characters</p>
      </div>

   </form>
  </div>
</div>

<section class = "section">
  <div class = "container">
    <div class = "to-do-list">
      <app-item *ngFor="let todo of todos" [todo]="todo" (clicked)="setComplete(todo)"
      (clickedEdit)="editTodo(todo)" (clickedDelete)="deleteTodo(todo)"></app-item>

    </div>
  </div>
</section>
